.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 24px;
  max-width: 600px;
  margin: 0;
  justify-content: center;
  min-height: 100vh; /* Ensure full height of the screen */
}

.statsContainer {
  display: flex;
  flex-flow: column nowrap;

  gap: 8px;
}
